include streamlit_json_viewer/frontend/build/static/js/*.js
include streamlit_json_viewer/frontend/build/static/css/*.css
include streamlit_json_viewer/frontend/build/*.html
include streamlit_json_viewer/frontend/build/*.json